<div class="jumbotron text-center">
  <h1>How our Bonus Program works</h1>
  <br> 
  <h4>— Bonus points are awarded for purchases made through the site OnlineStore.com only by authorized users (in order to log in on the site, you must create a Personal Account and enter it)</h4> 
  <h4>— All accrued bonus points are accumulated in your Personal Account</h4> 
  <h4>— The amount of bonuses for purchases depends on the total value of goods purchased in our online hypermarket, and can be up to 7% of the amount of purchases</h4> 
  <h4>— Bonus points can pay up to 30% of the value of the goods</h4> 
  <h4>— To keep the accumulated points, you need to make purchases at least once every 180 days. To keep the accumulated amount of purchases - at least once every 365 days</h4> 
</div>
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>What are bonus points for?</h2><br>
      <h4>- for purchases in the OnlineStore</h4><br>
      <h4>- when buying goods with super prices, discounts (including with a promotional code), gifts and other special offers</h4><br>
      <h4>- for purchases paid for in installments or installment cards (“Halva”, “Purchase Card”, “Turtle”, “Smart Card”, etc.)</h4><br>
      <h4>- 3% if the amount of purchases is up to 100$. 5% if the amount of purchases is over 500$. and up to 5000 rubles.7% if the amount of purchases is over 1000$.</h4>
    </div>
    <div class="col-sm-4">
      <%= image_tag("bonus.jpg") %>
    </div>
  </div>
</div>