<div class="container">
  <div class="marl">
    <h1>Editing Checkout</h1>
    <%= render 'form', checkout: @checkout %>
    <%= link_to 'Show', @checkout, class: "btn btn-outline-primary mt-2 mb-3" %> |
    <%= link_to 'Back', checkouts_path, class: "btn btn-outline-danger mt-2 mb-3" %>
  </div>
</div>
