$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';
@import "bootstrap/scss/bootstrap";


.container {
  position: absolute;
  left: 30%;
}
.cont {
  position: absolute;
  left: 40%;
}
.dop{
  margin: 15px;
}
.max{
  max-width: 630px;
}
